
<body style="background-color:Skyblue;">

  <div>
   <h1><b><center>Hello there!</center></b></h1>
   <form action="/names" methods="post">
   <br><center><label for="info">What's your name?</label></center>
   <center><input type="text" name="info"></center>
  </div>
  <div>
    <br><center>When's your birthday?</center>
    <br><center><label for="day">day:</label>
                <input type="day" name="day">
                <label for="month">month:</label>
                <select id="month" name="month">
                  <option selected>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                  </select></center>

  </div>
  <div>
     <br><center><input type="submit" value="Go!"></center>
     </div>
</body>
</form>
